# Make vim the default editor
export EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto";

export CVS_RSH=ssh
export CVSROOT=:ext:sza:/home/cvsroot

if [[ $platform == 'osx' ]]; then
    #echo "on gaspar, adding special directories"
    export PGPLOT_INC_DIR=/opt/local/include

    export CLIMAX_SRC=${HOME}/src/climax/climaxSrc
    export CLIMAX_TOOLS=${HOME}/src/climax/climaxTools

    export PYTHONPATH=$PYTHONPATH:$SZA_ANALYSIS/miriad_scripts
    export PYTHONPATH=$PYTHONPATH:${CLIMAX_SRC}/python:${CLIMAX_SRC}
    export PYTHONPATH=$PYTHONPATH:${HOME}/src/climax

    export LD_LIBRARY_PATH=${CLIMAX_TOOLS}/lib
    export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/bin/local/lib/libgcc

    export DYLD_LIBRARY_PATH=${CLIMAX_TOOLS}/lib
    export DYLD_LIBRARY_PATH=${DYLD_LIBRARY_PATH}:/opt/bin/local/lib/libgcc
else
    #on linux
    export PYTHONPATH=$PYTHONPATH:/home/tplagge/sza_analysis/miriad_scripts
    export PYTHONPATH=$PYTHONPATH:/home/tplagge/lib/python2.7
    export CLIMAX_SRC=/home/eml/projects/climax/climaxSrc
    export CLIMAX_TOOLS=/home/eml/projects/climax/climaxTools
fi
